.overflow{
    overflow-wrap: anywhere;
}

.chat{
    min-height: 100%;
    overflow-y: scroll;
    height: 400px;
    width: 100%;
    display: grid;
    
}

.rounded{
    border-radius: 15px;
}

.right{
    float: right;
    padding-right: 2%;
}

.container{
    padding-top: 4%;
}

.chatmsg{
    margin-left: 1% !important;
    margin-right: 1% !important;
    align-self: end;
}